<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello <span th:text="${name}"/></br>
details:  <span th:text="${details}"/></br>
Your role:
<table>
    <th:block th:each="auth : ${authorities}">
        <tr>
            <td th:text="${auth}">...</td>
        </tr>
    </th:block>
</table>

</body>
</html>