<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body, html{
            width: 100%;
        }
        li {
            font-size: 16px;
        }

        #listOfEl{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        header{
            display: flex;
            justify-content: center;
        }
        * { font-family: 'Arial Unicode MS'; }
    </style>
</head>
    <body>
        <header style="display: flex; justify-content: center;">
            <h1 th:text="${recipeName}"></h1>
        </header>
        <div id = "listOfEl">
            <div>
                <h2>Składniki</h2>
                <ul th:each="ing : ${ingredients}">
                    <li th:text="${ing}"></li>
                </ul>
            </div>
            <div>
                <h2>Kroki</h2>
                <ul th:each="step : ${steps}">
                    <li th:text="${step}"></li>
                </ul>
            </div>
        </div>

    </body>
</html>